{% extends 'base.html' %}
{% block content %}
    <h2>Hasil Prediksi</h2>

    <!-- Form untuk input Jumlah_Stok, Musim_Periodik, Penjualan_Sebelumnya -->
    <form method="POST" action="{{ url_for('hasil_svm') }}">
        <label for="Jumlah_Stok">Jumlah Stok:</label>
        <input type="number" id="Jumlah_Stok" name="Jumlah_Stok" required>
    
        <label for="Musim_Periodik">Musim Periodik:</label>
        <select id="Musim_Periodik" name="Musim_Periodik" required>
            <option value="Normal">Normal</option>
            <option value="Liburan">Liburan</option>
            <option value="Musim Flu">Musim Flu</option>
        </select>
    
        <label for="Penjualan_Sebelumnya">Penjualan Sebelumnya:</label>
        <input type="number" id="Penjualan_Sebelumnya" name="Penjualan_Sebelumnya" required>
    
        <button type="submit">Prediksi SVM</button>
    </form>    

    <!-- Area untuk menampilkan hasil prediksi -->
    {% if predictions %}
    <h3>Hasil Prediksi:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Prediksi Penjualan</th>
            </tr>
        </thead>
        <tbody>
            {% for row in predictions %}
                <tr>
                    <td>{{ row['Penjualan_Prediksi'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Tidak ada data untuk ditampilkan.</p>
    {% endif %}
{% endblock %}
