{% extends 'base.html' %}
{% block content %}
<h3>Unggah File CSV</h3>
<!-- Form Unggah -->
<form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Pilih File CSV:</label>
        <input type="file" name="file" class="form-control" required>
    </div>
    <div class="d-flex align-items-center gap-2 mt-2">
        <button type="submit" name="action" value="upload" class="btn btn-primary">Unggah</button>
        {% if file_uploaded %}
        <form action="{{ url_for('delete_file', file_name=filename) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger">Batal</button>
        </form>
        {% endif %}
    </div>
</form>

<!-- Tampilkan Data Jika File Sudah Diupload -->
{% if file_uploaded %}
    <hr>
    <h3>Data Training</h3>
    <div class="table-responsive">
        {{ table_html|safe }}
    </div>

    <!-- Tombol Navigasi Halaman -->
    <div class="d-flex justify-content-between mt-3">
        <!-- Tombol "Sebelumnya" -->
        {% if has_prev %}
            <a href="{{ url_for('paginate', page=page-1) }}" class="btn btn-secondary">Sebelumnya</a>
        {% else %}
            <span class="btn btn-secondary disabled">Sebelumnya</span>
        {% endif %}
        
        <!-- Tombol "Selanjutnya" -->
        {% if has_next %}
            <a href="{{ url_for('paginate', page=page+1) }}" class="btn btn-secondary">Selanjutnya</a>
        {% else %}
            <span class="btn btn-secondary disabled">Selanjutnya</span>
        {% endif %}
    </div>
    <hr>
    <div class="d-flex align-items-center gap-2">
        <form action="{{ url_for('delete_file', file_name=filename) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger">Hapus File</button>
        </form>
        <h8>File: {{ filename }}</h8>
    </div>    
{% endif %}
{% endblock %}
