{% extends 'base.html' %}
{% block content %}
<h2>Unggah File CSV</h2>

<!-- Form Unggah -->
<form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Pilih File CSV:</label>
        <input type="file" name="file" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Unggah</button>
</form>

<!-- Tampilkan Data Jika File Sudah Diupload -->
{% if file_uploaded %}
    <hr>
    <h2>Data yang Diunggah</h2>
    <div class="table-responsive">
        {{ table_html|safe }}
    </div>
{% endif %}
{% endblock %}
