{% extends 'base.html' %}
{% block content %}
    <h2>Hasil Prediksi</h2>

    <!-- Form untuk input Jumlah_Stok, Musim_Periodik, Penjualan_Sebelumnya -->
    <form method="POST" action="{{ url_for('testing') }}">
        <div class="mb-3">
            <label for="Jumlah_Stok" class="form-label">Jumlah Stok:</label>
            <input type="number" id="Jumlah_Stok" name="Jumlah_Stok" class="form-control" required>
        </div>
    
        <div class="mb-3">
            <label for="Musim_Periodik" class="form-label">Musim Periodik:</label>
            <select id="Musim_Periodik" name="Musim_Periodik" class="form-control" required>
                <option value="Normal">Normal</option>
                <option value="Liburan">Liburan</option>
                <option value="Musim Flu">Musim Flu</option>
            </select>
        </div>
    
        <div class="mb-3">
            <label for="Penjualan_Sebelumnya" class="form-label">Penjualan Sebelumnya:</label>
            <input type="number" id="Penjualan_Sebelumnya" name="Penjualan_Sebelumnya" class="form-control" required>
        </div>
    
        <button type="submit" class="btn btn-primary">Prediksi</button>
    </form>    

    <!-- Area untuk menampilkan hasil prediksi -->
    {% if predictions_svm or predictions_ann %}
    <h3>Hasil Prediksi:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Model</th>
                <th>Prediksi Penjualan</th>
            </tr>
        </thead>
        <tbody>
            {% if predictions_svm %}
                <tr>
                    <td>SVM</td>
                    <td>{{ predictions_svm['Penjualan_Prediksi'] }}</td>
                </tr>
            {% endif %}
            {% if predictions_ann %}
                <tr>
                    <td>ANN</td>
                    <td>{{ predictions_ann['Penjualan_Prediksi'] }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    {% else %}
        <p>Tidak ada data untuk ditampilkan.</p>
    {% endif %}
{% endblock %}
